.datentitle{
    width: 100%;
    display: flex;
    column-gap: 1rem;
}

.date{
    width: 160px;
}

.messagehide{
    visibility: hidden;
}

.error, .success{
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    border: 0;
    border-radius: 4px;
    padding: .5rem .5rem;
}

.saving{
    display: block;
    width: fit-content;
    margin: 0 auto;
    border: 1px solid  rgba(0, 128, 0, 0.350);
    color: rgba(0, 128, 0, 0.350);
    border-radius: 4px;
    padding: .5rem .5rem;
    text-align: center;
}

.error p, .success p, .saving p{
    margin: 0;
}

.error{
    background-color: rgba(255, 0, 0, 0.350);
    color: white;
}

.success{
    background-color: rgba(0, 128, 0, 0.350);
    color: white;
}


@media only screen and (max-width: 400px) {
    .datentitle{
        flex-direction: column;
    }

    .date{
        width: 100%;
    }
}